.outer-div-profile
{
     height: 200px;
     overflow: hidden;
     margin-bottom: 10px;
     display: flex;
}
.inner-div-profile
{
     height: 100%;
     width: 100%;
     background-size: cover;
     background-position: center;
     transition: transform .5s ease;
     background-image: url('/assets/img/durga.jpg');
}
.inner-div-profile:hover
{
     transform: scale(1);
     @media screen and (min-width: $tablet-width) {
      transform: scale(1.05);
     }
}

.page-title {
  padding: 0px 10px 10px;
}
.misc-content {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.masonry {
  display: flex;
  width: 100%;
}

.masonry--h {
  flex-flow: row wrap;
}

.masonry--v {
  flex-flow: column wrap;
  max-height: 1080px;
}

.masonry--h,
.masonry--v {
  margin-left: -8px; /* Adjustment for the gutter */
  counter-reset: brick;
}

.masonry-brick {
  overflow: hidden;
  border-radius: 0px;
  margin: 0 0 8px 8px;  /* Some Gutter */
  background-color: #FFF;
  color: white;
  position: relative;
}

.masonry-brick--h {
  flex: auto;
  height: 250px;
  min-width: 150px;
}

@media only screen and (min-width: 420px) {
  /* Horizontal masonry bricks on desktop-sized screen */
  .masonry-brick--h:nth-child(4n+1) {
    width: 250px;
  }
  .masonry-brick--h:nth-child(4n+2) {
    width: 325px;
  }
  .masonry-brick--h:nth-child(4n+3) {
    width: 180px;
  }
  .masonry-brick--h:nth-child(4n+4) {
    width: 380px;
  }

  /* Adjusting vertical masonry height on desktop-sized screen */
  .masonry--v {
    max-height: 1600px;
  }

  /* Vertical masonry bricks on desktop-sized screen */
  .masonry-brick--v {
    width: 33.33333%;
  }
}

.masonry-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0;
}
