---
layout: default
title: Home
---

<div class="home-wrapper">
<h1>Welcome</h1>
<p>
  The Inter-Allied Women's Conference (also known as the Suffragist Conference of the Allied Countries and the United States)[Notes 1] opened in Paris on 10 February 1919. It was convened parallel to the Paris Peace Conference to introduce women's issues to the peace process after the First World War. Leaders in the international women's suffrage movement had been denied the opportunity to participate in the official proceedings several times before being allowed to make a presentation before the Commission on International Labour Legislation. On 10 April, women were finally allowed to present a resolution to the League of Nations Commission. It covered the trafficking and sale of women and children, their political and suffrage status, and the transformation of education to include the human rights of all persons in each nation.
</p>
</div>

{% for post in site.posts %}

<article>
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
</article>

{% endfor %}

<!--- Pagination links
<div class="pagination">
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
    {% else %}
      <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}

  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
</div>
-->